---
import ExperienceItem from "./ExperienceItem.astro";

const experience = [
    {
        from_date: "Feb 2024",
        to_date: "Present",
        title: "Fullstack Digital Products Developer",
        description:
            "I am passionate about crafting innovative software solutions that drive business growth and user engagement. With extensive experience in product development, I leverage cutting-edge technologies like Cloud Computing, Web Development, AI and Blockchain to create efficient and scalable systems. My background in digital marketing complements my technical expertise, ensuring a holistic approach to building impactful digital products that meet both market needs and strategic goals. Enthusiastic about continuously learning and pushing the boundaries of technology, I thrive in environments where creativity meets functionality.",
        logo: "/images/fullstack_iso.png",
    },
    {
        from_date: "Oct 2022",
        to_date: "Jun 2023",
        title: "Product Owner at Unired",
        description:
            "As a Product Owner, I have had the privilege of leading a top-tier team of developers while utilizing the Scrum methodology. My primary focus has been on enhancing user experiences across existing digital channels and developing new services. These initiatives aim to increase the average ticket size of our current customers and attract new clients, driving growth and ensuring customer satisfaction.",
        logo: "/images/unired_cl_logo.jpeg",
    },
    {
        from_date: "Dec 2021",
        to_date: "Sept 2022",
        title: "Product Manager at Unired",
        description:
            "As part of the commercial team at Unired, I focused on developing the Marketplace project with the goal of generating new business lines and increasing the company's revenue. This role marked my entry into the exciting world of Fintech and payment methods, providing me with a solid foundation in these areas. My contributions significantly drove Unired's growth and success, reinforcing my expertise in Fintech and payment systems.",
        logo: "/images/unired_cl_logo.jpeg",
    },
    {
        from_date: "Mar 2020",
        to_date: "Oct 2021",
        title: "Founder at Marinier Gourmet Market",
        description:
            "Starting my own business has been one of the most challenging and rewarding experiences of my career. This project allowed me to apply my skills and expertise, solidify my knowledge, and identify areas for improvement. Through this entrepreneurial journey, I honed my abilities in business development, strategic planning, and problem-solving, ultimately gaining invaluable insights and professional growth.",
        logo: "/images/marinier.png",
    },
    {
        from_date: "Apr 2016",
        to_date: "Dec 2019",
        title: "Product Manager at Cencosud",
        description:
            "As a Product Manager at Cencosud, I was an integral part of the marketing team, collaborating with leading marketing agencies such as Tomate Digital, Hearth and Science, and PJD (Pedro Juan y Diego) on various high-impact marketing campaigns. I managed communications for email marketing and social media channels, specifically for the brands Tarjeta Scotiabank Cencosud and Seguros Cencosud. This role allowed me to leverage my expertise in marketing and product management, contributing to the success and growth of Cencosud's brands.",
        logo: "/images/cencosud_s_a__logo.jpeg",
    },
    {
        from_date: "May 2015",
        to_date: "Mar 2016",
        title: "Senior Analyst at Cencosud",
        description:
            "As a Senior Analyst in the digital channels team at Cencosud, I played a crucial role in building KPI panels, reports, and performing in-depth analysis. Later, I took on the responsibility of planning and developing social media channels for our brands, Tarjeta Scotiabank Cencosud and Seguros Cencosud. This role allowed me to leverage my analytical skills and strategic thinking, contributing to the success and risk management of Cencosud's digital presence.",
        logo: "/images/cencosud_s_a__logo.jpeg",
    },
    {
        from_date: "Oct 2010",
        to_date: "Mar 2015",
        title: "Senior Analyst at Telef贸nica",
        description:
            "As a Senior Analyst in the Commercial Planning team at Telef贸nica, I was responsible for leveraging sales channel performance key indicators through detailed analysis and actionable insights. I worked closely with local and regional teams across the country, as well as the marketing team, to implement commercial actions that enhanced results. This role allowed me to apply my analytical skills and strategic thinking to drive performance improvements and contribute to the overall success of Telef贸nica's commercial initiatives.",
        logo: "/images/telefonica_logo.jpeg",
    },
    {
        from_date: "Aug 2009",
        to_date: "Sep 2010",
        title: "Analyst at Telefonica",
        description:
            "As an Analyst in the Billing team at Telef贸nica, my primary responsibility was to implement commercial actions in coordination with the marketing team to increase the share of clients opting for email billing over physical mailing. This initiative aimed to reduce costs significantly, as physical mailing was ten times more expensive due to printing and mailing services. This role allowed me to leverage my analytical and strategic skills to drive cost-saving measures, improve operational efficiency within the billing department, and develop technical expertise in data analysis and SQL.",
        logo: "/images/telefonica_logo.jpeg",
    },
    {
        from_date: "Jan 2008",
        to_date: "Jul 2009",
        title: "Junior Analyst at Atento",
        description:
            "As an Analyst in the Business Development department at Atento, the leading call center in the country at that time, I played a key role in developing proposals for new business opportunities to expand our service offerings. I collaborated with various major companies across multiple industries to integrate their needs into our services. This role allowed me to hone my analytical skills, enhance my proficiency in Excel, SAP, and PowerPoint, and contribute to the business growth and strategic development of Atento while gaining valuable experience in a collaborative team environment.",
        logo: "/images/atento_logo.jpeg",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 mx-7">
    {
        experience.map((item, index) => (
            <li class="mb-10 ">
                <ExperienceItem {...item} />
            </li>
        ))
    }
</ol>
