---
import ExperienceItem from "./ExperienceItem.astro";
import { experience } from "../data/experience";
import { getLangFromUrl } from "../utils/i18n";

// Obtener el idioma actual
const lang = getLangFromUrl(Astro.url);

// Obtener la experiencia para el idioma actual
const currentExperience =
  experience[lang as keyof typeof experience] || experience.en;
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 mx-7">
  {
    currentExperience.map((item) => (
      <li class="mb-10">
        <ExperienceItem {...item} lang={lang} />
      </li>
    ))
  }
</ol>
