---
import ProjectCard from "./ProjectCard";
import { projects } from "../data/projects";
import { getLangFromUrl } from "../utils/i18n";

// Obtener el idioma actual
const lang = getLangFromUrl(Astro.url);

// Obtener los proyectos para el idioma actual
const currentProjects = projects[lang as keyof typeof projects] || projects.en;
---

<div class="flex justify-center">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      currentProjects.map((project) => (
        <ProjectCard client:visible {...project} lang={lang} />
      ))
    }
  </div>
</div>
