---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			// Inline script to set initial theme
			if (
				localStorage.getItem("color-theme") === "dark" ||
				(!("color-theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</head>
	<body class="relative">
		<div class="fixed left-0 top-0 -z-10 h-full w-full">
			<div id="background-container">
				<div class="bg-dark" id="bg-dark"></div>
				<div class="bg-light" id="bg-light"></div>
			</div>
		</div>
		<Header />
		<main class="relative z-1">
			<slot />
		</main>
		<Footer />
		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
		></script>
		<script src="/js/theme-toggle.js" is:inline></script>
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: "Onest Variable", sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
	}

	main {
		flex: 1;
		padding: 0 1.5rem;
		overflow: hidden;
	}

	@media (prefers-reduced-motion) {
		* {
			scroll-behavior: auto !important;
		}
	}

	.bg-dark,
	.bg-light {
		position: absolute;
		inset: 0;
		transition: opacity 1s ease;
	}

	.bg-dark {
		background: radial-gradient(
			ellipse 80% 80% at 50% -20%,
			rgba(120, 119, 198, 0.3),
			rgba(0, 0, 0, 1)
		);
		opacity: 1;
	}

	.bg-light {
		background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #63e 100%);
		opacity: 0;
	}

	.overlay {
		position: fixed;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.3);
		opacity: 0;
		visibility: hidden;
		backdrop-filter: blur(0px);
		transition:
			opacity 500ms ease,
			backdrop-filter 500ms ease,
			visibility 0s 500ms;
		pointer-events: none;
	}

	.overlay.active {
		opacity: 1;
		visibility: visible;
		backdrop-filter: blur(3px);
		transition:
			opacity 500ms ease,
			backdrop-filter 500ms ease,
			visibility 0s;
		pointer-events: auto;
	}

	.flip-card-inner {
		transition: all 0.6s ease-in-out;
	}

	.flipped-card {
		transition: all 0.6s ease-in-out;
	}
</style>
